* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}


body {
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --bg-success: #198754;
    --bg-secondary: #066438;
    --text-success: #202020;
    --text-secondary: #eeeeee;
    --text-content-black: #222222;
    --text-content-white: #e2e2e2;
}

.btn {
    font-weight: bold !important;
}

.btn:hover {
    transition: all .3s ease-in-out;
}

.form-control:focus,
.form-control.active {
    box-shadow: unset !important;
}

/* ============================= */
/* Navbar Section  */
/* ============================= */

.main-nav .brand .logo img {
    height: 3rem;
    width: 7rem;
}

.main-nav .navbar .navbar-toggler,
.main-nav .navbar .navbar-toggler:focus {
    border: none;
    box-shadow: unset;
}

.main-nav .navbar .navbar-toggler i {
    transition: all .3s ease-in-out;
}

.main-nav .navbar .navbar-toggler i:hover,
.main-nav .navbar .navbar-toggler i:focus,
.main-nav .navbar .navbar-toggler i:active {
    color: var(--bg-secondary) !important;
}

.main-nav .navbar .offcanvas .offcanvas-nav i {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.main-nav .navbar .offcanvas .offcanvas-nav h5 {
    font-weight: bolder;
    letter-spacing: .08rem;
}

.main-nav .navbar-nav .nav-item {
    font-weight: bolder;
    letter-spacing: .05rem;
    margin: 0rem .7rem;
    font-size: 1.07rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-success);
}

.main-nav .navbar-nav .nav-link {
    transition: all .3s ease-in-out;
}

.main-nav .navbar-nav .nav-link:hover,
.main-nav .navbar-nav .nav-link:focus,
.main-nav .navbar-nav .nav-link.active {
    background-color: var(--bg-success);
    color: var(--text-secondary);
}

.main-nav .navbar-nav .dropdown-menu .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-nav .navbar-nav .dropdown-menu.show {
    transform: translateX(-38%);
    top: 3.2rem;
    border: 1px solid var(--bg-secondary);
}

.main-nav .navbar-nav .dropdown-menu .content .part {
    padding: .5rem;
}

.main-nav .navbar-nav .dropdown-menu .content .part .dropdown-header {
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--bg-success);
    text-decoration: underline;
}

.main-nav .navbar-nav .dropdown-menu .content .part .dropdown-item {
    font-weight: bold;
    font-size: .85rem;
    color: var(--text-content-black);
    transition: all .3s ease-in-out;
}

.main-nav .navbar-nav .dropdown-menu .content .part .dropdown-item:hover,
.main-nav .navbar-nav .dropdown-menu .content .part .dropdown-item:focus {
    background-color: var(--bg-success);
    color: var(--text-secondary);
    border-radius: 5px;
}

.main-nav .navbar .contact-number .btn {
    font-weight: bold;
}

/* ================================ */
/* Slider Section */
/* ==================================== */

.slider {
    margin-top: 4.02rem;
}

.slider .carousel-item .image img {
    height: 40rem;
    opacity: 0.95;
    object-fit: cover;
    border-radius: .5rem;
}

/* Slider Post-1  */

.slider .carousel-item .post-1 .content {
    color: var(--text-content-white);
    position: absolute;
    width: 100%;
    top: 35%;
    padding: 1rem;
}

.slider .carousel-item .post-1 .content .title {
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: .3rem;
}

.slider .carousel-item .post-1 .content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding: .5rem .1rem;
}

.slider .carousel-item .post-1 .content .btn {
    font-weight: bold;
}

/* Slider Post-2  */

.slider .carousel-item .post-2 .content {
    color: var(--text-content-white);
    position: absolute;
    width: 100%;
    top: 40%;
    padding: 0rem 3rem;
}

.slider .carousel-item .post-2 .content .title {
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: .3rem;
}

.slider .carousel-item .post-2 .content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 30%;
}

.slider .carousel-item .post-2 .content .btn {
    font-weight: bold;
}

/* Slider Post-3  */

.slider .carousel-item .post-3 .content {
    color: var(--text-content-black);
    position: absolute;
    width: 100%;
    top: 30%;
    padding: 0rem 3rem;
}

.slider .carousel-item .post-3 .content .title {
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: .3rem;
    color: #0f4a8d;
}

.slider .carousel-item .post-3 .content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 40%;
}

.slider .carousel-item .post-3 .content .btn {
    font-weight: bold;
    position: relative;
    right: 12%;
}

/* Slider Post-4  */

.slider .carousel-item .post-4 .content {
    color: var(--text-content-black);
    position: absolute;
    width: 100%;
    top: 20%;
    padding: 3rem;
}

.slider .carousel-item .post-4 .content .title {
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: .3rem;
}

.slider .carousel-item .post-4 .content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 35%;
}

.slider .carousel-item .post-4 .content .btn {
    font-weight: bold;
}

.slider button i {
    color: var(--bg-success);
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
    width: 10%;
}

.slider .carousel-control-next i {
    position: relative;
    left: 2rem;
}

.slider .carousel-control-prev i {
    position: relative;
    right: 2rem;
}

/* ======================== */
/* Work Method Section  */
/* ========================= */

.work-method {
    margin-top: 4rem;
}

.work-method h1 {
    font-weight: bolder;
    font-size: 2.4rem;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
    color: var(--text-success);
}

.work-method .card {
    border: none;
    background: transparent;
}

.work-method .card-header {
    border: none;
    background: transparent;
}

.work-method .card i {
    margin-top: 1rem;
    color: var(--bg-success);
    padding: 1rem;
    border: none;
    background: transparent;
}

.work-method .card-body .title {
    color: var(--text-content-black);
    letter-spacing: .15rem;
    font-weight: bold;
}

.work-method .card-body .subtitle {
    color: var(--bg-secondary);
    font-weight: bold;
}


/* ============================ */
/* Menu Section */
/* ============================== */

.menu {
    margin-top: 1rem;
}

.menu .menu-header {
    margin: 1.5rem 0rem;
}

.menu .menu-header h1 {
    letter-spacing: .3rem;
}

.menu .menu-header h1 p {
    font-weight: bold;
}

.menu .card {
    width: 20rem;
    border: 1px solid var(--bg-success);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.menu .card:hover {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    background-color: #d1e7dd;
}

.menu .card:hover img {
    transform: scale(1.04);
}

.menu .card:hover .title {
    color: var(--bg-secondary);
}
.menu .card-body .title {
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.menu .card img {
    height: 10rem;
    width: 14rem;
    border-radius: 5px;
    margin: 1.8rem 0rem;
    transition: all .4s ease-in-out;
}

.menu .card-header {
    border-bottom: 1px solid var(--bg-success);
    background: transparent;
}

.menu .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu .card-footer .price{
    font-weight: bold;
    letter-spacing: .1rem;
    color: var(--bg-success);
}

.menu .button .btn {
    width: 10rem;
    margin-top: 1.2rem;
}


/* ================================ */
/* Footer Section */
/* ================================ */

.main-footer .footer-body {
    margin-top: 1.2rem;
}

.main-footer .footer-body .title {
    font-weight: bold;
    letter-spacing: .1rem;
    margin-left: 1.7rem;
    color: var(--bg-secondary);
}

.main-footer .footer-body .name {
    font-weight: bold;
    letter-spacing: .1rem;
    color: var(--bg-secondary);
}

.main-footer .footer-body .phone,
.main-footer .footer-body .email,
.main-footer .footer-body .telephone {
    font-weight: bold;
    font-size: .85rem;
    color: gray;
    margin-top: 1.5rem;
    line-height: .1rem;
}

.main-footer .footer-body .menu-link {
    display: flex;
    gap: 5px;
    color: gray;
    font-weight: bold;
    display: inline-block;
    transition: all .4s ease-in-out;
}

.main-footer .footer-body .menu-link:hover {
    color: #0f4a8d;
    transform: translateX(5px);
}

.main-footer .footer-body .menu-link:hover i {
    transform: scale(1.1);
}

.main-footer .footer-body .menu-link i {
    padding: .2rem;
    color: #1770d6;
    transition: all .4s ease-in-out;
}

.main-footer .copyright p{
    font-weight: bold;
    color: gray;
    letter-spacing: .13rem;
    text-align: center;
}


/* ===================== */
/* Page Header  */
/* ======================= */

.header {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .title{
    font-weight: bolder;
    letter-spacing: .3rem;
    color: var(--bg-secondary);
}

.header .breadcrumb-item{
    font-weight: bolder;
    letter-spacing: .08rem;
}

.header .breadcrumb-item a{
    color: var(--bg-success);
    transition: all .3s ease-in-out;
}

.header .breadcrumb-item a:hover{
    color: var(--bg-secondary);
}

/* ================== */
/* Pagination */
/* ==================== */

.pagination a,
.pagination a:focus {
    border: 1px solid var(--bg-success);
    border-radius: 5px;
    font-weight: bold;
    color: var(--bg-success);
    box-shadow: unset;
    background: transparent;
    transition: all .3s ease-in-out;
}

.pagination a:hover {
    background-color: var(--bg-success);
    color: white;
}

/* ================= */
/* contact Section */
/* =================== */

.contact {
    margin-top: 1.5rem;
}

.contact .title {
    font-weight: bold;  
    color: var(--bg-success);
    letter-spacing: .25rem;
}

.contact .address,
.contact .right .subtitie {
    font-weight: bold;  
    color: gray;
    letter-spacing: .1rem;
}

.contact .right .form-control {
    border: 1px solid var(--bg-success);
}

.contact .right .form-label {
    margin-top: .5rem;
    font-weight: bolder;
    letter-spacing: .1rem;
    color: var(--bg-secondary);
}

.contact .right .btn {
    margin-top: .7rem;
    width: 20%;
}

.contact .left .ratio iframe{
    border-radius: .3rem;
}

/* =========================== */
/* About Section  */
/* ============================== */

.about {
    margin-top: -1.2rem;
}

.about .title, 
.about p {
    font-weight: bold;
    letter-spacing: .07rem;
}

.about .card{
    width: 18rem;
    border: 1px solid var(--bg-success);
    border-radius: .85rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.about .card:hover{
    transform: scale(1.04);
}

.about .card img{
    width: 17rem;
    height: 14rem;
    margin-top: .75rem;
    border-radius: .5rem;
}

.about .card .card-body{
    line-height: .9rem;
    margin-top: -.5rem;
}

.about .card .card-body span{
    color: var(--bg-secondary);
    font-weight: bolder;
    margin-right: .5rem;
    text-decoration: underline;
}

.about .card .card-body p{
    color: gray;
}


/* =================================== */
/* Testomonial Section  */
/* ======================================= */

.testomonial {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.testomonial .carousel-item {
    border: 1px solid var(--bg-success);
    border-radius: .7rem;
}

.testomonial .carousel-item .content .name{
    font-weight: bolder;
    color: var(--bg-success);
    margin-top: .5rem;
}

.testomonial .carousel-item .content .comments{
    font-weight: bold;
    color: gray;
}

.testomonial .carousel-item img{
    height: 10rem;
    width: 10rem;
}


/* ================================================= */
/* App Download Section  */
/* =================================================== */

.download {
    margin-top: 3rem;
}

.download .row {
    border-radius: .8rem;
}

.download .content {
    margin-top: 5.5rem;
    padding: 1rem;
    font-weight: bold;
    line-height: 2.2rem;
}

.download .content .link img {
    width: 10rem;
}
